$--plan-font-path: 'fonts' !default;
$--plan-height: 40px; // 模板高度
$--timeline-height: 24px; // 时间轴高度
$--plan-bgcolor: rgba(0, 0, 0, 0.06); // 模板基础背景色
$--line-color: #e5e5e5; // 面板线条颜色
$--range-default-color: #3d6ce5; // 事件区间默认颜色
